/* pagina accesorios */
.title-accesorios {
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
    margin-top: 30px;
}

.cont-accesorios {
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
    @extend .flex-wrap;
    justify-content: space-around;
}

.cont-accesorios {
    .img-accesorios {
        img {
            height: 300px;
            padding: 10px;
            margin-top: 15px;
        }
    }
}

.text-accesorios {
    text-align: center;
    margin-top: 2px;
    padding: 5px;
}